// =============================================================================
// Code
// =============================================================================


code,
kbd,
pre,
samp {
    @extend %font-code;
}

code {
    padding: .25em .5em;
    vertical-align: middle;
}

pre {
    margin-bottom: 1em;
    overflow: auto;
}

.prettyprint {
    padding: .5rem 1rem;
}
