// =============================================================================
// HTML5
// =============================================================================





// Display Definitions
// =============================================================================


// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
audio,
canvas,
progress,
video {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}


// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
audio:not([controls]) {
    display: none;
    height: 0;
}


// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
[hidden],
template {
    display: none;
}





// Grouping content
// =============================================================================


// Address margin not present in IE 8/9 and Safari.
figure {
    margin: 1em 40px;
}
