// =============================================================================
// Lists
// =============================================================================


ul,
ol {
    margin: $list--margin;
    padding: $list--padding;

    > li {
        line-height: $list--line-height;
        margin-left: 1.25em
    }
}





// Horizontal List
// =============================================================================
// If you want to ensure all items are bumped upto each other without removing
// the space between list items then replace `display: inline-block;` with
// 'float: left;'. You will lose aligning ability though.

@mixin list--horizontal {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    > li {
        display: inline-block;
    }
}

.list--horizontal {
    @include list--horizontal;
}





// No Styled List
// =============================================================================

@mixin list--no-style {
    list-style: none;
    margin: 0;

    li {
        margin: 0;
    }
}

.list--no-style {
    @include list--no-style;
}
