// =============================================================================
// Tables
// =============================================================================


table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td,
th {
    padding: 0;
}





// Striped Table
// =============================================================================

.table--striped {
    tbody tr:nth-of-type(odd) {
        background-color: darken($color--font, 10%);
    }
}
