// =============================================================================
// Input
// =============================================================================

.input {
    -moz-appearance: none !important;
    -webkit-appearance: none  !important;
    background-color: #fff;
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid darken($color--background, 25%);
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    color: $color--font;
    font-size: .875rem;
    height: 38px;
    line-height: normal;
    padding: .3em .5em;
    position: relative;

    &::-ms-expand {
        display: none;
    }

    &--full {
        display: block;
        width: 100%;
    }

    &--select {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
        box-shadow: none;
        padding-right: 1.5em;
    }

    &--textarea {
        height: auto;
        padding: .5em;
    }
}


.input:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 1em $color--accessibility;
    outline: 0;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
    border-radius: 1em;
}
