// =============================================================================
// Nav
// =============================================================================


.nav {
    font-family: $font-family--header;
    text-align: center;

    > ul {
        @include list--horizontal;
        margin-bottom: 0;
        margin-top: 0;
    }

    li {
        text-transform: lowercase;
    }

    a {
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    &__items {
        @include list--no-style;
        @include list--horizontal;

        border-top: 1px solid #555;
        padding-top: 1em;
        margin-top: 1em;
        text-align: center;

        li {
            margin: 0 1em
        }
    }


    // Footer Modifier
    // =============================================================================

    &--footer {
        background-color: $color--brand-bg;
        font-size: 1.2em;
        padding-bottom: .5em;
        padding-top: .5em;

        a {
            color: $color--font;
        }

        li {
            margin: 0 .5em;
        }
    }


    // Header Modifier
    // =============================================================================

    &--header {
        display: none;
        float: right;

        @include mq-width-more-than($view--medium) {
            display: block;
        }

        li {
            line-height: 40px;
        }

        a {
            color: #fff;
        }
    }

}


// Nav Icon
// =============================================================================

.nav-icon {
    $size: 1.125em;
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: auto;
    right: $size;
    transform: translateX(-50%) translateY(-50%);
    width: $size;
    height: $size / 10;
    background-color: white;
    transition: background-color $menu-animation-time;

    @include mq-width-more-than($view--medium) {
        display: none;
    }

    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        right: 0;
        transition: transform $menu-animation-time, top $menu-animation-time, background-color 0s;
    }

    &:before {
        top: -5px;
    }

    &:after {
        top: 5px;
    }

    &--active {
        background-color: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            transform: rotate(135deg);
        }

        &:after {
            transform: rotate(225deg);
        }
    }
}


// Full-Screen Nav
// =============================================================================

.full-screen-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: $menu-animation-time;
    background-color: rgba($color--brand, 1);
    z-index: 3;

    &--active {
        transform: translateY(0);
    }

    &__contents {
        margin-top: 20vh;
    }

    .social {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .menu-item {
        font-size: 1.25rem;
        margin: 2rem 0;
        font-weight: 100;
        text-transform: lowercase;

        a {
            display: block;
            background-color: rgba(#000, .2);
            width: 90%;
            margin: auto;
        }
    }

}
