// =============================================================================
// Video
// =============================================================================

.video-embed {
    display: block;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    iframe {
        height: 100% !important;
        position: absolute;
        top: 0;
        width: 100% !important;
    }
}
